
body {
  padding-top: 56px;
}

.display-4{
  font-family: 'Play', sans-serif;
}

.card-img-custom{
  width: 346px;
  height: 250px;
}

.card-custom{
  /* Custom CSS for card */
  transition: transform .5s;
}

.card-custom:hover{
  transform: scale(1.1);
}
.img-icon{
  width: 32px;
  height: 32px;
}

.head{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVcUt1zr0SitCXagydia1Fkha7dbfLhZBpQV_jUrotWtKt4hQh&s");
}

.time{
  padding: 3px;
  border-radius: 3px;
}