.img-icon{
    width: 32px;
    height: 32px;
  }
  body{
    padding-top: 100px;
  }
  .custom{
    background-color: rgba(256, 256, 256, 0.4);
    border-radius: 20px;
    margin-block-start: 80px;
  }

  .custom-card{
      width: 400px;
  }

  head{
    font-family: font-family: 'Poppins', sans-serif;
  }

  